# Chapter 1

## Basic Syntax

### Multiple statemetns on a single line

Python allows the use of \n to split line into multiple lineas. In addition, the semicolon ";" allows multiple statements on a single line of neither statement starts a new code block.

In [3]:
TV = 15; name = "Nour"; print(name);print("Welcome to\nDubai Festival 2018")

Nour
Welcome to
Dubai Festival 2018

### Read Data from Users

In [5]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print("\nName =", name);print("\nAge =", age)

Enter your name: Paul
Enter your age: 24

Name = Paul

Age = 24

### Declaring Variables and Assigning Values

<p>Python has five standart data types that are used to define the operations possible on them and the storage method for each of them</p>
<ul>
<li>Number</li>
<li>String</li>
<li>List</li>
<li>Tuple</li>
<li>Dictionary</li>
</ul>
<p>The equal "=" operator is used to assign a value to a variable.</p>

In [6]:
age = 11
name = "Nour"
tall = 100.50

In [7]:
print(age)
print(name)
print(tall)

11
Nour
100.5

### Multiple Assigns

In [11]:
age = mark = code = 25
print(age)
print(mark)
print(code)

25
25
25

In [12]:
age, mark, code = 10, 75, "CIS2403"
print(age)
print(mark)
print(code)

10
75
CIS2403

### Variable names

<p>
    A variable is an identifier that allocates specific memory space and assigns a value that could change during the program runtime.
</p>
<p>
    There are many rules and restrictions for variable names. The following examples shows incorrect naming:
</p>

```python
{?age, 1age, age student, and, if, 1_age, etc}
```

<p>
    The following shows correct naming for a variable:
</p>

```python
{age, age_1, age_1, if_age, etc.}
```

### Statements and Expressions

<p>A <b><i>statement</i></b> is any unit of code thta can be executed by a Python interpreter to get a specific result or perform a specific task</p>
<p>The <b><i>expression</i></b> is a combination of values, variables, and operators that are evaluated by the interpreter to do a specific task</p>

In [14]:
x = 0.6 #Statement
x = 3.9 * x * (1-x) #Expressions
print(round(x,2))

0.94

### Basic Operators in Python

#### Arithmetic Operators

<table>
  <tr>
    <th>Operators</th>
    <th>Description</th>
    <th>Example</th>
    <th>Output</th>
  </tr>
  <tr>
    <td>//</td>
    <td>Performs floor division(gives the integer value after division)</td>
    <td>print (13//5)</td>
    <td>2</td>
  </tr>
  <tr>
    <td>+</td>
    <td>Performs addition</td>
    <td>print (13+5)</td>        
    <td>18</td>
  </tr>
  <tr>
    <td>-</td>
    <td>Performs subtraction</td>
    <td>print (13-5)</td>
    <td>8</td>
  </tr>
  <tr>
    <td>*</td>
    <td>Performs multiplication</td>
    <td>print (2*5)</td>
    <td>10</td>
  </tr>
  <tr>
    <td>/</td>
    <td>Performs division</td>
    <td>print (13/5)</td>
    <td>2.6</td>
  </tr>
  <tr>
    <td>%</td>
    <td>Returns the remainder after division (modulus) </td>
    <td>print (13%5)</td>
    <td>3</td>
  </tr>
  <tr>
    <td>**</td>
    <td>Returns an exponent (raises to a power)</td>
    <td>print (2**3)</td>
    <td>8</td>
  </tr>
</table>

#### Relational Operators

<table>
  <tr>
    <th>Operators</th>
    <th>Description</th>
    <th>Example</th>
    <th>Output</th>
  </tr>
  <tr>
    <td><</td>
    <td>Less than</td>
    <td>print (13<5)</td>
    <td>False</td>
  </tr>
  <tr>
    <td>></td>
    <td>Greater than</td>
    <td>print (13>5)</td>        
    <td>true</td>
  </tr>
  <tr>
    <td><=</td>
    <td>Less than or equal to</td>
    <td>print (13<=5)</td>
    <td>False</td>
  </tr>
  <tr>
    <td>>=</td>
    <td>Greater than or equal to</td>
    <td>print (2>=5)</td>
    <td>False</td>
  </tr>
  <tr>
    <td>==</td>
    <td>Equal to</td>
    <td>print (13==5)</td>
    <td>False</td>
  </tr>
  <tr>
    <td>!=</td>
    <td>Not equal to</td>
    <td>print (13!=5)</td>
    <td>True</td>
  </tr>
</table>

#### Assign Operators

<table>
  <tr>
    <th>Operators</th>
    <th>Description</th>
    <th>Example</th>
    <th>Output</th>
  </tr>
  <tr>
    <td>==</td>
    <td>Assigns</td>
    <td>x=10. print(x)</td>
    <td>10</td>
  </tr>
  <tr>
    <td>/=</td>
    <td>Divides and assigns</td>
    <td>x=10; x/=2. print(x)</td>        
    <td>5</td>
  </tr>
  <tr>
    <td>+=</td>
    <td>Adds and assigns</td>
    <td>x=10; x+=7. print(x)</td>
    <td>17</td>
  </tr>
  <tr>
    <td>-=</td>
    <td>Substracts and assigns</td>
    <td>x=10; x-=6. print(x)</td>
    <td>4</td>
  </tr>
  <tr>
    <td>*=</td>
    <td>Multiplies and assigns</td>
    <td>x=10; x*=5. print(x)</td>
    <td>50</td>
  </tr>
  <tr>
    <td>%=</td>
    <td>Modulus and assigns</td>
    <td>x=13; x%=5. print(x)</td>
    <td>3</td>
  </tr>
  <tr>
    <td>**=</td>
    <td>Exponent and assigns</td>
    <td>x=10; x**=3. print(x)</td>
    <td>1000</td>
  </tr>
  <tr>
    <td>//=</td>
    <td>Floor division and assigns</td>
    <td>x=10; x//=2. print(x)</td>
    <td>5</td>
  </tr>
</table>

#### Logical Operators

<table>
  <tr>
    <th>Operators</th>
    <th>Description</th>
    <th>Example</th>
    <th>Output</th>
  </tr>
  <tr>
    <td>and</td>
    <td>Logical AND (when both conditions are true, the output will be true)</td>
    <td>x=10>5 and 4>20. print(x)</td>
    <td>False</td>
  </tr>
  <tr>
    <td>or</td>
    <td>Logical OR (if any one condition is true, the output will be true)</td>
    <td>x=10>5 or 4>20. print(x)</td>        
    <td>true</td>
  </tr>
  <tr>
    <td>not</td>
    <td>Logical NOT (complements the conditions; i.e., reverses it)</td>
    <td><= not(10<4). print(x)</td>
    <td>true</td>
  </tr>
</table>